*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* section 1 */
div#navbarNavDropdown {
    justify-content: end;
}
.header{
  min-height: 100vh;
  background-image: url(img1.jpeg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.header nav.navbar.navbar-expand-lg {
    background-color:rgb(0,0,0,0.4);
}
.nav-link {
    color: white;
}
a{
    color: white;
}   
li.nav-item {
    margin: 15px;
}

/* section 2 */
.part1 h2{
    margin-top: 5px;
    text-align: center;
    padding: 58px 0px 12px 0px;
    font-family: 'Sevillana', cursive;
    font-size: 50px; 
}
.lines{
    width: 60%;
    position: relative;
    margin: -18px 0px 30px 84px;
}
.lines::after, .lines::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: #2cd997;
    width: 42%;
    bottom: 50%;
}
.lines::after{
    left: 0;
}
.lines::before{
    right: 0;
}
.diamond{
    height: 20px;
    width: 20px;
    border: 2px solid #2cd997;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20%;
    margin: auto;
    transform: rotate(45deg);
}
.part2 img {
    width: 100%;
    height: 25rem;
    margin: 0px 0px 12px 0px;
    border-radius: 10px;
    display: block;
}
.part2{ 
    background-color: rgb(228, 225, 225);
    padding: 30px;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.image{
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 1;
}
.content h2{
    color: #2cd997;
    text-align: center;
}
.content tr{
    color: white;
    text-align: center;
    border-style: none;
}
.content td{
    border: none;
}
.content > *{
    transform: translateY(25px);
    transition: 0.6s;
}
.content:hover > *{
    transform: translateY(0px);
}
.btn1 button{
    display: block;
    margin: auto;
    background-color: #2dc997;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.btn1::before, .btn1::after{
    content: "";
    height: 2px;
    background-color: gray;
    display: block;
}
.btn1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    /* column-gap: 1.6rem; */
}
/* section 3 */
.part3 {
    position: relative;
    background-image: url('img14.jpg');
    background-size: 100% 100%;
    height: 400px;
  }
  
  .part3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
  }
  .part3::after {
    content: 'BECOME A MODEL';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .part3 button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2cd997;
    color: black;
    font-size: 16px;
    padding: 4px 42px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 50px 0px 0px 0px;
  }

  /* section 4 */
  .part4 h2{
    margin-top: 5px;
    text-align: center;
    padding: 58px 0px 12px 0px;
    font-family: 'Sevillana', cursive;
    font-size: 50px;    
  }
.part5 img{
    width: 100%;
    height: 450px;
    margin: 0px 0px 12px 0px;
    border-radius: 5px;
}
.img1{
   margin-top: 100px;
}
.img2{
   margin-top: 180px;
}
.part5 p{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.part5 button{
    display: block;
    margin: auto;
    background-color: #2cd997;
    border: none;
    padding: 2px;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px;
}

/* section 5 */
.part6 h2{
    margin-top: 5px;
    text-align: center;
    padding: 58px 0px 12px 0px;
    font-family: 'Sevillana', cursive;
    font-size: 50px;  
}
.part7{
    background-image: url('img19.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 53vh;
}
.group1{
    margin-top: 54px;
}
.group2{
    margin-top: 54px;
}
.group1 button{
    margin: auto;
    display: block;
    border: none;
    border-radius: 2px;
    background-color: whitesmoke;;
    width: 40%;
    padding: 15px;
    text-align: left;
}
.group2 button{
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 40%;
    padding: 15px;
    text-align: left;    
}
button i{
    color:#2cd997;
    font-size:x-large;
}

/* section 6 */
.part8 h2{
    text-align: center;
    padding: 58px 0px 12px 0px;
    font-family: 'Sevillana', cursive;
    font-size: 50px;
}
.part9 img {
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0, 0.6);
  }
.text9{
    color: white;
    margin: -300px 0px 92px 222px;
  }
  /* .part9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
  }
  .part9::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  } */
  .part11{
    text-align: center; 
  }
  .part11 .card {
    display: inline-block;
}
.part11 .card1 {
    display: flex;
    justify-content: end;
}
.part11 .card2 {
    display: flex;
    justify-content: start;
}
.part11 .card-body{
    background-color: #2cd997;
    border: none;
    border-radius: 5px;
}

/* footer */

.foot{
    background-color: black;
    margin-top: -84px;
    margin-bottom: -20px;
}
.foot h1{
    color: white;
    text-align: center;
    margin-top: 58px;
}
.foot h5{
    color: white;
    text-align: center;
   text-decoration: 2px underline #2cd997;
}
.foot p{
    color: white;
    text-align: center;
}
.card1{
    overflow: hidden;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    ul.navbar-nav {
        direction: rtl;
    }
    .part7{
        height: 400px;
    }
    .group1 {
        margin-top: 13px;
    }
    .group2 {
        margin-top: 15px;
    }

    .part5 .align-items-start {
        margin-top: -120px;
    }
    .part9::after {
        width: 100%;
    }
    .part11 .card1 {
        display: flex;
        justify-content: center;
    }
    .part11 .card2 {
        display: flex;
        justify-content: center;
    }
  }
